In [1]:
# importing packages
import pandas as pd
import numpy as np

In [2]:
# import file and view head
lead = pd.read_csv('lead/leads_scoring.csv')
lead.head()

,first_name,last_name,gender,DOB,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,Laraine,Medendorp,F,1953-10-12,Mass Customer,N,Yes,11.0,060 Morning Avenue,2016,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,Eli,Bockman,Male,1980-12-16,Mass Customer,N,Yes,16.0,6 Meadow Vale Court,2153,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,Arlin,Dearle,Male,1954-01-20,Mass Customer,N,Yes,15.0,0 Holy Cross Court,4211,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,Talbot,NaN,Male,1961-10-03,Mass Customer,N,No,7.0,17979 Del Mar Point,2448,...,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,Sheila-kathryn,Calton,Female,1977-05-13,Affluent Customer,N,Yes,8.0,9 Oakridge Court,3216,...,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [3]:
# Basic shape and datatypes
lead.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 46 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   first_name                                4000 non-null   object
 1   last_name                                 3875 non-null   object
 2   gender                                    4000 non-null   object
 3   DOB                                       3913 non-null   object
 4   wealth_segment                            4000 non-null   object
 5   deceased_indicator                        4000 non-null   object
 6   owns_car                                  4000 non-null   object
 7   tenure                                    3913 non-null   float64
 8   address                                   4000 non-null   object
 9   postcode                                  4000 non-null   int64
 10  state                                     4000 non-null   object
 11  country                                   4000 non-null   object
 12  property_valuation                        4000 non-null   int64
 13  Prospect ID                               4000 non-null   object
 14  Lead Number                               4000 non-null   int64
 15  Lead Origin                               4000 non-null   object
 16  Lead Source                               3985 non-null   object
 17  Do Not Email                              4000 non-null   object
 18  Do Not Call                               4000 non-null   object
 19  Converted                                 4000 non-null   int64
 20  TotalVisits                               3917 non-null   float64
 21  Total Time Spent on Website               4000 non-null   int64
 22  Page Views Per Visit                      3917 non-null   float64
 23  Last Activity                             3938 non-null   object
 24  How did you hear about X Education        3012 non-null   object
 25  Search                                    4000 non-null   object
 26  Magazine                                  4000 non-null   object
 27  Newspaper Article                         4000 non-null   object
 28  X Education Forums                        4000 non-null   object
 29  Newspaper                                 4000 non-null   object
 30  Digital Advertisement                     4000 non-null   object
 31  Through Recommendations                   4000 non-null   object
 32  Receive More Updates About Our Courses    4000 non-null   object
 33  Tags                                      2414 non-null   object
 34  Lead Quality                              1824 non-null   object
 35  Update me on Supply Chain Content         4000 non-null   object
 36  Get updates on DM Content                 4000 non-null   object
 37  Lead Profile                              2699 non-null   object
 38  City                                      3350 non-null   object
 39  Asymmetrique Activity Index               2830 non-null   object
 40  Asymmetrique Profile Index                2830 non-null   object
 41  Asymmetrique Activity Score               2830 non-null   float64
 42  Asymmetrique Profile Score                2830 non-null   float64
 43  I agree to pay the amount through cheque  4000 non-null   object
 44  A free copy of Mastering The Interview    4000 non-null   object
 45  Last Notable Activity                     4000 non-null   object
dtypes: float64(5), int64(5), object(36)
memory usage: 1.4+ MB

In [4]:
# checking for missing values
lead.isna().sum()

first_name                                     0
last_name                                    125
gender                                         0
DOB                                           87
wealth_segment                                 0
deceased_indicator                             0
owns_car                                       0
tenure                                        87
address                                        0
postcode                                       0
state                                          0
country                                        0
property_valuation                             0
Prospect ID                                    0
Lead Number                                    0
Lead Origin                                    0
Lead Source                                   15
Do Not Email                                   0
Do Not Call                                    0
Converted                                      0
TotalVisits                                   83
Total Time Spent on Website                    0
Page Views Per Visit                          83
Last Activity                                 62
How did you hear about X Education           988
Search                                         0
Magazine                                       0
Newspaper Article                              0
X Education Forums                             0
Newspaper                                      0
Digital Advertisement                          0
Through Recommendations                        0
Receive More Updates About Our Courses         0
Tags                                        1586
Lead Quality                                2176
Update me on Supply Chain Content              0
Get updates on DM Content                      0
Lead Profile                                1301
City                                         650
Asymmetrique Activity Index                 1170
Asymmetrique Profile Index                  1170
Asymmetrique Activity Score                 1170
Asymmetrique Profile Score                  1170
I agree to pay the amount through cheque       0
A free copy of Mastering The Interview         0
Last Notable Activity                          0
dtype: int64

In [5]:
# splitting columns based on datatypes
cat = [n for n in lead.columns if lead[n].dtype == object not in ['last_name', 'DOB']]
num = [p for p in lead.columns if p not in cat]
# filling up missing values
lead[num] = lead[num].fillna(np.mean)

from sklearn.impute import SimpleImputer
obj = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
lead[cat] = obj.fit_transform(lead[cat])
# Rechecking missing values
lead.isna().sum()

first_name                                  0
last_name                                   0
gender                                      0
DOB                                         0
wealth_segment                              0
deceased_indicator                          0
owns_car                                    0
tenure                                      0
address                                     0
postcode                                    0
state                                       0
country                                     0
property_valuation                          0
Prospect ID                                 0
Lead Number                                 0
Lead Origin                                 0
Lead Source                                 0
Do Not Email                                0
Do Not Call                                 0
Converted                                   0
TotalVisits                                 0
Total Time Spent on Website                 0
Page Views Per Visit                        0
Last Activity                               0
How did you hear about X Education          0
Search                                      0
Magazine                                    0
Newspaper Article                           0
X Education Forums                          0
Newspaper                                   0
Digital Advertisement                       0
Through Recommendations                     0
Receive More Updates About Our Courses      0
Tags                                        0
Lead Quality                                0
Update me on Supply Chain Content           0
Get updates on DM Content                   0
Lead Profile                                0
City                                        0
Asymmetrique Activity Index                 0
Asymmetrique Profile Index                  0
Asymmetrique Activity Score                 0
Asymmetrique Profile Score                  0
I agree to pay the amount through cheque    0
A free copy of Mastering The Interview      0
Last Notable Activity                       0
dtype: int64

In [6]:
lead.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 46 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   first_name                                4000 non-null   object
 1   last_name                                 4000 non-null   object
 2   gender                                    4000 non-null   object
 3   DOB                                       4000 non-null   object
 4   wealth_segment                            4000 non-null   object
 5   deceased_indicator                        4000 non-null   object
 6   owns_car                                  4000 non-null   object
 7   tenure                                    4000 non-null   object
 8   address                                   4000 non-null   object
 9   postcode                                  4000 non-null   int64
 10  state                                     4000 non-null   object
 11  country                                   4000 non-null   object
 12  property_valuation                        4000 non-null   int64
 13  Prospect ID                               4000 non-null   object
 14  Lead Number                               4000 non-null   int64
 15  Lead Origin                               4000 non-null   object
 16  Lead Source                               4000 non-null   object
 17  Do Not Email                              4000 non-null   object
 18  Do Not Call                               4000 non-null   object
 19  Converted                                 4000 non-null   int64
 20  TotalVisits                               4000 non-null   object
 21  Total Time Spent on Website               4000 non-null   int64
 22  Page Views Per Visit                      4000 non-null   object
 23  Last Activity                             4000 non-null   object
 24  How did you hear about X Education        4000 non-null   object
 25  Search                                    4000 non-null   object
 26  Magazine                                  4000 non-null   object
 27  Newspaper Article                         4000 non-null   object
 28  X Education Forums                        4000 non-null   object
 29  Newspaper                                 4000 non-null   object
 30  Digital Advertisement                     4000 non-null   object
 31  Through Recommendations                   4000 non-null   object
 32  Receive More Updates About Our Courses    4000 non-null   object
 33  Tags                                      4000 non-null   object
 34  Lead Quality                              4000 non-null   object
 35  Update me on Supply Chain Content         4000 non-null   object
 36  Get updates on DM Content                 4000 non-null   object
 37  Lead Profile                              4000 non-null   object
 38  City                                      4000 non-null   object
 39  Asymmetrique Activity Index               4000 non-null   object
 40  Asymmetrique Profile Index                4000 non-null   object
 41  Asymmetrique Activity Score               4000 non-null   object
 42  Asymmetrique Profile Score                4000 non-null   object
 43  I agree to pay the amount through cheque  4000 non-null   object
 44  A free copy of Mastering The Interview    4000 non-null   object
 45  Last Notable Activity                     4000 non-null   object
dtypes: int64(5), object(41)
memory usage: 1.4+ MB

In [7]:
lead.DOB = pd.to_datetime(lead.DOB)
lead['Month'] = lead.DOB.dt.month.astype('category')
lead['year'] = lead.DOB.dt.year
lead[cat] = lead[cat].astype('category')

In [8]:
# Object columns number of unique values
lead[cat].nunique()

first_name                                  3139
last_name                                   3725
gender                                         7
DOB                                         3448
wealth_segment                                 3
deceased_indicator                             2
owns_car                                       2
address                                     3996
state                                          5
country                                        1
Prospect ID                                 4000
Lead Origin                                    5
Lead Source                                   18
Do Not Email                                   2
Do Not Call                                    2
Last Activity                                 15
How did you hear about X Education            10
Search                                         2
Magazine                                       1
Newspaper Article                              1
X Education Forums                             1
Newspaper                                      2
Digital Advertisement                          1
Through Recommendations                        2
Receive More Updates About Our Courses         1
Tags                                          23
Lead Quality                                   5
Update me on Supply Chain Content              1
Get updates on DM Content                      1
Lead Profile                                   6
City                                           7
Asymmetrique Activity Index                    3
Asymmetrique Profile Index                     3
I agree to pay the amount through cheque       1
A free copy of Mastering The Interview         2
Last Notable Activity                         12
dtype: int64

In [ ]:
one = [p for p in lead2.columns if lead2[p].nunique() == 1 or lead2[p].nunique() == lead2.shape[0]]

In [9]:
# Spliting the dataset
from sklearn.model_selection import train_test_split,cross_validate, KFold
X = lead.drop(['Prospect ID', 'Lead Number', 'Converted','first_name','last_name', 'DOB', 'Prospect ID', 'address', 'country'], axis = 1)
y = lead['Converted']
# Train and test split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [10]:
# category encoding 
import category_encoders as ce
encode = ce.BinaryEncoder(cat)
train_X = encode.fit_transform(train_X)

C:\Users\iDAFAdmin\AppData\Local\Continuum\anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [11]:
lead.Converted.value_counts()

0    2420
1    1580
Name: Converted, dtype: int64

In [12]:
# importing classification algorithms
from sklearn.ensemble import RandomForestClassifier, VotingClassifier, GradientBoostingClassifier
from xgboost.sklearn import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier

In [13]:
# Finding the BaseLine perfomance of the various models

# prepare models
models = []

# Adding algorthms
models.append(('cat', CatBoostClassifier(verbose=0)))
models.append(('mlp', MLPClassifier()))
models.append(('lgbm', LGBMClassifier()))
models.append(('knc', KNeighborsClassifier()))
models.append(('rfc', RandomForestClassifier()))
models.append(('gbc', GradientBoostingClassifier()))
# evaluate -cross validation- each model in turn
results = []
names = []
scoring =['roc_auc', 'f1']
for name, model in models:
	kfold = KFold(n_splits=10, shuffle= True)
	cv_results = cross_validate(model, train_X, train_y, cv=kfold, scoring=scoring, return_train_score=True)
	results.append(cv_results)
	names.append(name)
	msg = "%s: %f (%f)" % (name, cv_results['test_roc_auc'].mean(), cv_results['test_f1'].mean())
	print(msg)

# for name, model in models:
#     md = model.fit(train_X, train_y)
#     print(f'{name}: Train score: {md.score(train_X, train_y)}, and Test Score: {md.score(test_X,test_y)}')

cat: 0.980195 (0.914725)
mlp: 0.907910 (0.730928)
lgbm: 0.975181 (0.909411)
knc: 0.728113 (0.599398)
rfc: 0.961498 (0.864272)
gbc: 0.976233 (0.903921)

In [14]:
# Automl import, initialization and execution
from tpot import TPOTClassifier
tpot_pipe = TPOTClassifier(generations=5,population_size=30,cv=5,random_state=101, verbosity=2, scoring='accuracy', n_jobs=1)
tpot_pipe.fit(train_X, train_y)

Generation 1 - Current best internal CV score: 0.9128125

Generation 2 - Current best internal CV score: 0.9146875

Generation 3 - Current best internal CV score: 0.9199999999999999

Generation 4 - Current best internal CV score: 0.9199999999999999

Generation 5 - Current best internal CV score: 0.9199999999999999

Best pipeline: ExtraTreesClassifier(ExtraTreesClassifier(SelectFwe(input_matrix, alpha=0.044), bootstrap=False, criterion=entropy, max_features=0.6500000000000001, min_samples_leaf=2, min_samples_split=16, n_estimators=100), bootstrap=True, criterion=gini, max_features=0.3, min_samples_leaf=14, min_samples_split=7, n_estimators=100)

TPOTClassifier(generations=5, population_size=30, random_state=101,
               scoring='accuracy', verbosity=2)

In [15]:
# Test set encoding and prediction
test_X = encode.transform(test_X)
ypred = tpot_pipe.predict(test_X)

In [16]:
# Metric report
from sklearn.metrics import classification_report
print(classification_report(ypred, test_y))

              precision    recall  f1-score   support

           0       0.95      0.92      0.93       504
           1       0.87      0.92      0.89       296

    accuracy                           0.92       800
   macro avg       0.91      0.92      0.91       800
weighted avg       0.92      0.92      0.92       800